.ui-autocomplete .highlight {
    font-weight: bold; color: #b92c28;
    text-decoration: underline;
}

.ui-autocomplete .ui-menu-item {
    font-size:0.7em;
}

.ui-autocomplete {
    max-height: 120px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 120px;
}

.ui-autocomplete-loading {
    background: white url("../img/ui-anim_basic_16x16.gif") right center no-repeat;
}

