<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/start/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="lib/jqGrid/css/ui.jqgrid.css" type="text/css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js" > </script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.0/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="lib/jqGrid/js/i18n/grid.locale-ua.js" ></script>
    <script type="text/javascript" src="lib/jqGrid/js/jquery.jqGrid.min.js" ></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js" ></script>
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img class="img-rounded" src="img/fpm.jpg" width="100%" height="50"/>
            </div>
        </div>
    </div>
</header>

<div class="container" id="tableContainer">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked" id="myTabs">
                <li class="active"><a href="#bookType" data-toggle="pill">Головна</a></li>
                <li><a href="#publication" data-toggle="pill">Видавництва</a></li>
            </ul>
        </div>

        <div class="col-md-9">
            <div class="tab-content">

                <div class="tab-pane active" id="bookType">
                    <table id="bookTypeTable"></table>
                    <div id="pagerBookType"></div>
                    <script src="js/js/bookTypeTable.js" ></script>
                </div>

                <div class="tab-pane" id="publication">
                    <table id="publicationTable"></table>
                    <div id="pagerPublication"></div>
                    <script src="js/js/publicationTable.js" ></script>
                </div>
            </div>
        </div>
    </div>

</div>

	<!--<script id="bookTypeTmp" type="text/template">-->
		<!--<td><%= id %></td>-->
		<!--<td><%= type %></td>-->
	<!--</script>-->

	<!--<script src="lib/backbone/underscore.js"></script>-->
	<!--<script src="lib/backbone/jquery.js"></script>-->
	<!--<script src="lib/backbone/backbone.js"></script>-->
	<!--<script src="https://code.jquery.com/jquery.js"></script>-->
	<!--<script src="lib/bootstrap/js/bootstrap.min.js"></script>-->
	<!--<script src="js/js/main.js"></script>-->
	<!--<script src="js/models/bookType.js"></script>-->
	<!--<script src="js/collections/bookTypes.js"></script>-->
	<!--<script src="js/views/bookType.js"></script>-->
	<!--<script src="js/routers/router.js"></script>-->

   <!---->

	<!--<header>-->
			<!--<h2>Типи Книг</h2>-->
	<!--</header>-->
		<!--<div class="row">-->
			<!--<div class="col-md-8">-->
				<!--<table id="allBookTypes" class="table table-striped table-hover table-bordered">-->
					<!--<thead>-->
						<!--<tr>-->
							<!--<th>ID</th>-->
							<!--<th>ТИП</th>-->
						<!--</tr>-->
					<!--</thead>-->
				<!--</table>-->
			<!--</div>-->
		<!--</div>-->
	<!--<script>-->
		<!--new Lib.Router();-->
		<!--Backbone.history.start();-->

		<!--Lib.bookTypes = new Lib.Collection.BookTypes();-->
		<!--Lib.bookTypes.fetch().then(function() {-->
			<!--new Lib.View.BookTypeApp({-->
				<!--collection : Lib.bookTypes-->
			<!--});-->
		<!--});-->
	<!--</script>-->
</body>
</html>
